<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Introdução ao Vue JS</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>

    <div id="app">

        <gui-titulo v-bind:titulo="meuTitulo"></gui-titulo>
        
        <input type="text" v-model="meuTitulo">

        <gui-tabela v-bind:titulos="['TIULO', 'DESC', 'LINK']" v-bind:registros="registros"></gui-tabela>
        
        
    </div>

    <script type="text/javascript">

        /* Compoenntes
        + A ideia deles é de reaproveitar código
        + Um compoennte tem seu conteudo HTML em 'template'
            - E ele é colcoado na tag de seu nome
        + props
            - É o atributo titulo. Perba que com issio eu consegio passar argumetnos
                ao meu compoentne dentro da tag e por meio da props, usalo internamente.
            - Asism, eu possa passar qualquer coisa pelo attr da tag
        */
        
        Vue.component('gui-titulo', {
            props: ['titulo'],
            template: `<h2>{{ titulo }}</h2>`
        });

        // Outro exemplo de componente dinâmico
        Vue.component('gui-tabela', {
            props: ['titulos', 'registros'],
            template: `
            <table style="width: 100%">
                <thead>
                    <tr>
                        <th v-for="titulo in titulos">{{titulo}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="regist in registros">
                        <td v-for="item in regist">{{item}}</td>
                    </tr>
                </tbody>
            </table>`
        });



        var app = new Vue({
            el:"#app",
            data: {
                meuTitulo: "Esse é o meu Título",
                registros: [
                    {titulo: "Título1", desc: 'desc1', link: 'l1'},
                    {titulo: "Título2", desc: 'desc2', link: 'l2'},
                    {titulo: "Título3", desc: 'desc3', link: 'l3'},
                ]
            },
            methods: {
                usuarioClicou: function(){
                    this.cliclou = !this.cliclou
                }
            }
        });

    </script>

</body>
</html>

